.app-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

button {
  background-color: #3498db; /* Friendly blue color */
  color: white; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Add transition for hover effect */
  margin-top: 20px;
  margin-right: 10px; /* Space between buttons */
  
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}
